@tailwind base;
@tailwind components;
@tailwind utilities;

.home-background {
  background-image: url("Xango.png");
  background-size: cover; /* Scale the image to cover the entire background */
  background-position: center 50px; /* Position the image in the center of the background */
  background-repeat: no-repeat; /* Prevent the image from repeating */
}